/*CONTAINER */

.container {
    max-width: 1024px;
    margin: 0 auto;
}

/*END OF CONTAINER */
/*TITLE */
.title {
    font-family: sans-serif;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.title--green {
    color: green;
}
/* END OF TITLE */

/* TECHNOLOGIES */
.technologies__col {
    display: flex;
    justify-content: center;
}

.technologies__img {
    height: 200px;
}
/* END OF TECHNOLOGIES */